<div class="">
    <%= form_for @user, url: create_password_path, class: '' do |f| %>
        <%= f.password_field :password %>
        <%= f.password_field :password_confirmation %>
        <%= f.submit 'create password' %>
    <% end %>
</div>