<div class="form mt-4">
  <form class="new_message">
    <input type="hidden"  name= "conversation_id" value= <%= @conversation_id %> />
    <input type="hidden"  name= "message_by" value= 'user' />
    <input type="text" name="content" style="width:90%" />
    <button class="btn btn-primery" name="send" value="send">Send</button>
  </form>  
</div>