<div class="messages">
  <% if @messages.present? %>
    <% @messages.each do |message| %>
      <div class="row">
        <div class="col-12">
          <%= render partial: "message_content.html.erb", locals: {message: message}%>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col-12">
        <p>Start Conversion</p>
      </div>
    </div>
  <% end %>
</div>