<div class="bot_start">
  <div class="botui-app-container" id="document_bot">
    <bot-ui></bot-ui>
    <input type="hidden" name="conversation_id"  id ="conversation_id" value=<%= @conversation_id %>>
    <input type="hidden" name="bot_id" class="chat_type" value="document_bot">
  </div>
</div>
<script>
 var botui = new BotUI('document_bot');
  <% if @messages.blank? %>
    start_conversation();
  <% else %>
    <% @messages.each do |message| %>
      var message = <%=raw message.body.to_json %>
      var content = message['content']['text']
      var type = message['content']['type']
      <% if message.message_by == 'user' %>
        human_message(content, delay=0)
      <% else %>
        if(type == 'text' || type == 'name' || type == 'email' || type == 'password'){
          bot_message(content, delay=0, loading=false)
        }
      <% end  %>
    <% end %>
     type = '<%= @messages.last.body['content']['type'] %>' || 'text'
     add_text_field(delay=0, type = type)
    // show input field
  <% end %>
</script>