<div class="row">
  <div class="col-12">
    <div class="message_container">
      <%= render partial: "message.html.erb", locals: {messages: "" } %>
    </div>
    <div class="form_container">
      <%= render partial: "form.html.erb", locals: {messages: "" } %>
    </div>
  </div>
</div>