<div class="bot_start">
  <div class="botui-app-container" id="hello-world">
    <bot-ui></bot-ui>
    <input type="hidden" name="conversation_id"  id ="conversation_id" value=<%= @conversation_id %>>
  </div>
</div>
<script>
window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
 var botui = new BotUI('hello-world');
  <% if @messages.blank? %>
    start_conversation();
  <% else %>
    <% @messages.each do |message| %>
      var message = <%=raw message.body.to_json %>
      var content = message['content']['text']
      var type = message['content']['type']
      <% if message.message_by == 'user' %>
        human_message(content, delay=0)
      <% else %>
        if(type == 'text'){
          bot_message(content, delay=0, loading=false)
        }
      <% end  %>
    <% end %>
     type = '<%= @messages.last.body['content']['type'] %>' || 'text'
     add_text_field(delay=0, type = type)
    // show input field
  <% end %>
</script>